{
    # Expose Caddy’s admin API on a Unix socket
    admin unix/{{CALLER_PATH}}/caddy-admin.sock
    auto_https off
    log default {
        level debug
    }
}

# Listen on a Unix socket
http://127.0.0.1 {
    bind unix/{{CLIENT_SIDE_MCP_REVERSE_PROXY_SOCKET_PATH}}

    reverse_proxy unix/{{CALLER_PATH}}/caddy-admin.sock
}
